name: PR Tests

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Tests
      uses: ./.github/actions/run-unit-tests
      with:
        python-version: "3.12"
        os: "ubuntu-latest"
        is_pr: "true"
